.card {
    width: 353px;
    height: 500px;
    border: 1.5px solid rgb(219, 218, 218);
    margin-bottom: 50px;
}
.cardImgTop {
    width: 350px;
    height: 300px;
}

.cardBody {
    padding-top: 15px;
    padding-left: 12px;
    font-family: sans-serif;
    width: 300px;
}

